/* importações*/
@import url('global.css');
@import url('reset.css');

/*scrollbar*/
    ::-webkit-scrollbar{
        width: 7px;
        background-color: var(--secondary-color-gray) ;
        border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb{
        background-color: var(--primary-color-green);
        border-radius: 20px;
        border: 1px solid var(--secondary-color-gray);
    }
/**/

.arrow{
    background-color: var(--primary-color-green);
    width: 45px ;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    right: 25px;
    bottom: 120px;
    z-index: 2;
    border: 1px solid var(--secondary-color-gray);
}

.arrow img{
    transform: translateY(0px) ;
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {

    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0px);
    }   
}

/*mobile menu*/

.container-mobile{
    color:var(--primary-color-green);
    display: none;
}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor:pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    background-color: var(--primary-color-green);
    width: 100%;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
}

label span:nth-child(1){
    top:0px;
}

label span:nth-child(2){
    top:8px;
}

label span:nth-child(3){
    top:16px;
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top:8px;
}

#checkbox-menu:checked + label span:nth-child(2){
    transform: translateX(25px);
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
}

#checkbox-menu:checked  .f-navbar__mobile{
    display: flex;
}

.f-navbar__mobile{
    position: relative;
    height: 20vh;
    background-color:var(--tertiary-color-black);
    align-items: center;
    justify-content: center;
    display: none;
    transition: 3s; 
}

.f-navbar__mobile ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-weight: 700;
    align-items: center;
    justify-content: center; 
}

.f-navbar__mobile ul li{
    font-size:  1.563rem;
    margin-top: 1.25rem;
}

.f-navbar__mobile ul li:last-child a{
   background-color: var(--primary-color-green);
   padding: 15px 35px;
   border-radius: 30px;
   font-size:  20px;   
   
}
.f-navbar__mobile ul li a{
    text-decoration: none;
    color: var(--text-color-gray);
}

.f-navbar__mobile ul li a:hover{
    border-bottom:2px solid var(--primary-color-green);
}
.f-navbar__mobile ul li:last-child a:hover{
    border-bottom:none ;
}


/*=====header======*/

header{
    margin-bottom: 190px;
}
.f-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px ;
}

.f-navbar__pc ul {
    display: flex;
    list-style-type: none;
    font-weight: 700;
    align-items: center;
}

.f-navbar__pc ul li{
    margin-left: 40px;
    font-size:  25px;
}

.f-navbar__pc ul li:last-child a{
   background-color: var(--primary-color-green);
   margin-left: 6.25rem;
   padding: 15px 35px;
   border-radius: 30px;
   font-size:  20px;   
   
}
.f-navbar__pc ul li a{
    text-decoration: none;
    color: var(--text-color-gray);
}

.f-navbar__pc ul li a:hover{
    border-bottom:2px solid var(--primary-color-green);
}
.f-navbar__pc ul li:last-child a:hover{
    border-bottom:none ;
}
/* container header*/

.container{
    display: flex;
    justify-content: space-between;
}

.about-section{
    padding-top: 100px;
    color: var(--text-color-gray);
    max-width: 500px;
    text-align: left;
    width: 50%;
    margin: auto;
    min-width: 18rem;
}

span{
    color:var(--primary-color-green);
}

.ball{
    position: absolute;
    left: 54px;
    top: 273px;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color-green);
    border-radius: 20px;
}

.about-section h1{
    color:#ffffff;
    font-size: 1.375rem;
    margin-bottom: 50px;
    font-weight: 700;  
}

.about-section h2{
    font-size: 2.5rem;
    color:var(--primary-color-green);
    margin-bottom: 1.875rem;
}

.about-section p{
    margin-bottom: 30px;
    line-height: 25px;
    font-size:1.25rem;
}

.about-section a{
    text-decoration: none;
    background-color: var(--primary-color-green);
    padding: 10px 45px;
    border-radius: 30px;
    font-size:  20px;  
    color:white;
    font-weight: 700;
}

/* imagens */

.imgs{
    width: 50%;
}
.image{
    position: absolute;
    top:295px;
    right: 195px;
    z-index: 1;
}

.html{
    position: absolute;
    top: 160px;
    right: 650px;
    z-index: 1;   
}

.css{
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 1;
}

.js{
    position: absolute;
    top: 680px;
    right: 400px; ;
    z-index: 1;
    
}

.vector{
    position: absolute;
    top: 290px;
    right: 125px;
    z-index: 0;
    max-width: 550px;
    width: 100%;    
}

.ball2{
    width: 20px;
    height: 20px;
    background-color: var(--primary-color-green);
    position: absolute;
    bottom:280px;
    right: 200px;
    border-radius: 20px;
}

/* =======skills=========*/

/* head skills */ 

.head-skills{
    display: flex;
    justify-content: center;
    position: relative;
    top:55px;
    background-color:var(--tertiary-color-black);
    max-width: 500px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.head-skills ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.head-skills img{
    max-width: 80px;
    width: 100%;
    transition: 0.5s;
}

.head-skills ul li{
    margin: 15px;
}

.head-skills  img:hover{
    transform: translateY(-10px) ;
    transition: 0.5s;
}

.skills{
    background-color:  var(--secondary-color-gray);
    padding-bottom: 170px;
}
 

/* skills cards */

.skills h2{
    color:#ffffff;
    font-size: 35pt;
    padding-top: 170px;
    padding-left: 70px;
}

.cards{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    flex-wrap: wrap;
    
}

.card1:hover, .card2:hover, .card3:hover{
    transform: translateY(-20px) ;
    transition: 1s;
}

.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color-black);
    align-items: center;
    padding: 40px 90px;
    border-bottom:  30px solid var(--primary-color-green);
    border-radius: 25px;
    margin: 30px;
    transition: 0.5s;
    box-shadow: 0px 12px 5px #06060859;
    z-index: 1;
    
}

.card2{
    position: relative;
    top:-150px
}

.box1, .box2{
    display: flex;
    margin-top: 25px;
    align-items: center;
    max-width: 200px;
    width: 100%;
}

.box1 h3, .box2 h3{
    color: #ffffff;
}

.boximg{
    max-width: 100px;
    width: 100%;
    margin: 30px;
}

.box1 img, .box2 img{
    max-width: 35px;
    width: 100%;
    margin-right: 10px;
}


.vectors{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.vector1{
    position: absolute;
    z-index: 0;
    left:0px;
}

.vector2{
    position: absolute;
    z-index: 0;
    right: 0px;
    top:150px
}


/*====projects======*/

.projects{
    background-color: var(--secondary-color-gray);
    padding-bottom: 170px;
}

.projects h2{
    color:#ffffff;
    font-size: 35pt;  
    padding-left: 70px;
}

.gallery{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 50px;
}


.item{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color-black);
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0px 12px 5px #06060857 ;
    z-index: 1;
    color: white;
    min-width: 300px;
    max-width: 100vw;
}

.conteudo{
    padding: 40px 20px;
    max-width: 100vw;
    height: 100%;
}

.item img{
    max-width: 340px;
    width: 100%;
    object-fit: contain;
    transition: 0.5s;
}

.imgBox{
    max-width: 340px;
    overflow: hidden;
    height: 100%;
    max-height: 200px;
}

.conteudo img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.txt{
    max-width: 340px;
    margin: 0 auto;
}

.item h3{
    margin: 0 auto;
    max-width: 240px;
    margin-top: 20px;
    font-size: 19pt;
}

.item p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #E7DFDD ;
  font-size: 14pt;
}

.link{
    background-color: var(--primary-color-green);
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    max-width: 100vw;
}

.link img{
    width: 30px;
    height: 30px;
}

.balls{
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.yellow{
    width: 20px;
    height: 20px;
    background: #f8d142;
    border-radius: 30px;
    position: absolute; 
    top:1.25rem;
    left:-10.625rem;
}

.red{
    width: 20px;
    height: 20px;
    background: #e95653;
    border-radius: 30px;
    position: absolute;
    top:1.25rem;
    left: -9.063rem;
}

.green{
    width: 20px;
    height: 20px;
    background: #29ba58;
    border-radius: 30px;
    position: absolute; 
    top:1.25rem;
    left: -7.5rem;
}

.vector3{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
}

.vector3 img{
    position: absolute;
    top: 350px;
}

/* ==========about me===========*/

.about{
    background-color: var(--secondary-color-gray);
    padding-bottom: 170px;
}

.vector-about{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.vector-about img{
    
    position: absolute;
  
    top: 150px
}
.about h2{
    color:#ffffff;
    font-size: 35pt;
    padding-left: 70px;
}

.container{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cardAbout{
    margin: 0 auto;
    background-color: var(--tertiary-color-black);
    color:#ffffff;
    padding: 3.125rem;
    border-bottom: 60px solid var(--primary-color-green);
    border-radius: 0 0 20px 20px; 
    box-shadow: 0px 12px 5px #06060857 ;
    display: grid;
    grid-template-columns: 1fr 100px;
    margin-top: 9.375rem;
    z-index: 1;
    align-items: center;
    max-width: 100vw;
}

.aboutMe{
    padding-right: 250px;
}

.cardAbout h3{
    color:var(--primary-color-green);
    font-size:2.5rem;
}

.cardAbout p{
    color: #E7DFDD ;
    max-width:34.375rem;
    font-size: 1.5rem;
    margin-top: 3.438rem;
    min-width: 18rem;
}

.logosCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.logosCard img{
    max-width: 60px;
    margin-top: 20px;
}

.aboutMe ul{
    color: var(--primary-color-green);
    list-style: inside;
    margin-top: 45px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.aboutMe ul li {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 17pt;
    font-weight: 300;
}

.aboutMe span{
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: var(--primary-color-green);
}

/*==========contact=========*/

.contact{
    background-color: var(--secondary-color-gray);
}

.contact h2{
    color:#ffffff;
    font-size: 35pt;
    padding-left: 70px;
}

.form{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    max-width: 492px;
    padding: 5.625rem 0;
}

.form h3{
    color: var(--primary-color-green);
    text-align: center;
    font-size: 17pt;
    margin-bottom: 25px;
}

.form form{
    background-color: var(--tertiary-color-black);
    display: flex;
    flex-direction: column;
    padding: 90px 90px 50px 90px;
    border-radius: 15px 15px 0 0;
    max-width: 100vw;
}

.form form input, textarea{
    margin-top: 25px;
    padding: 18px 125px 18px 18px;
    resize: vertical;
    border-radius: 5px;
    outline: none;
}

.form button{
    width: 100%;
    padding: 20px 0;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: var(--primary-color-green);
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 12px 5px #06060857 ;
    cursor: pointer;
}

/*===== footer =====*/

footer{
    background-color: var(--primary-color-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;  
    text-align: center;
}

footer ul{
    display: flex;
    list-style-type: none;
}

footer ul img{
    max-width: 60px;
    width: 100%;
    filter:drop-shadow( 0px 5px 5px #06060878) ;
}

footer h2{
    color: #ffffff;
}

@media screen and (max-width:1330px){
    .vectors{
        display: none;
    }
}

@media screen and (max-width:1190px){  
    .imgs{
        display: none;
    }
}

@media screen and (max-width:1174px){
    .card2{
        position: relative;
        top:0px
    }
}

@media screen and (max-width:1060px){
    .f-navbar__pc{
        display: none;
    }
    .container-mobile{
        display: block;
    }
}

@media screen and (max-width:720px){
    .cardAbout{
        display: flex;
       flex-direction: column;
       text-align: center;
    }
    .aboutMe{
        padding-right: 0px;
    }
    .logosCard{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .logosCard img{
        margin: 1rem;
    }

    footer{
        flex-direction: column;
        justify-content: center;  
    }
    .logo-footer{
        position: relative;
        left: 3.438rem;
    }
    footer img{
        margin-top: 1rem;
    }
}

@media screen and (max-width:690px){
    .vector-about{
        display: none;
    }
    .vector3{
        display: none;
    }
}

@media screen and (max-width:430px){
    .balls{
        display: flex;
        position: relative;
        margin-bottom: 1rem;
        margin-left: 4rem;
    }
    .yellow{
        position: absolute; 
        top:1.25rem;
        left:-10.625rem;
    } 
    .red{
        position: absolute;
        top:1.25rem;
        left: -9.063rem;
    }  
    .green{
        position: absolute; 
        top:1.25rem;
        left: -7.5rem;
    }
    .ball{
        display: none;
    }

}